#
# oci-auth timer providing configuration of wpa_supplicant for specified interface
# to authenticate to OCI cluster network. 
#
[Unit]
Description=oci-auth timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=15min
RandomizedDelaySec=15

[Install]
WantedBy=timers.target
